* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth; /* Scorrimento fluido */
}
#app {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
}
.sfondo {
  width: 100%;
  scroll-snap-type: y mandatory; /* Abilita lo scroll snap verticale */
  overflow-y: scroll; /* Assicurati che il contenitore sia scrollabile */
}
.container {
  scroll-snap-align: start; /* La sezione deve allinearsi all'inizio */
  min-height: 100vh;
}

li {
  list-style-type: none;
}

.buble {
  pointer-events: none;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 70px;
  left: 100px;
  background: linear-gradient(45deg, aqua, rgba(114, 152, 250, 0.8));
  animation: dissolve 0.7s ease-in-out forwards;

  @keyframes dissolve {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
.custom-cursor {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 70px;
  left: 100px;
  background: linear-gradient(45deg, aqua, rgba(114, 152, 250, 0.8));
}
